/auto
/document.aux
/document.bbl
/document.bcf
/document.blg
/document.fdb_latexmk
/document.fls
/document.ilg
/document.lof
/document.log
/document.lot
/document.nlo
/document.nls
/document.out
/document.pdf
/document.run.xml
/document.synctex.gz
/document.thm
/document.toc
/indent.log
.vscode/
